*,
html,
body{
    padding: 0;
    margin: 0;
    font-family: poppins;
}

/* Navbar START */
nav{
    width: 100%;
    background-color: #F1F3F5;
}

nav .container{
    padding: 15px;
}

nav .container ul{
    align-items: center;
    align-content: center;

    display: flex;
    justify-content: space-evenly;

    flex-wrap: wrap;
}

nav .container ul li{
    list-style-type: none;
}

nav .container ul li a{
    color: black;
    padding: 10px;
    text-decoration: none;
    z-index: 1;
}nav .container ul li a:hover{
    color: black;
    text-decoration: underline;
    text-underline-offset: 20px;
}

nav .container ul li a img{
    width: 100px;
}

/* Navbar END */


/* Hero START */
.hero{
    width: 100%;
}

.hero .container{
    background-color: #F5F5F5;
    padding-left: 40px;
    padding-right: 40px;
}

.hero .container .flex{
    display: flex;
    justify-content: center;

    text-align: center;
}

.hero .container .flex a{
    color: black;
    text-decoration: none;
}

.hero .container .flex a .text .link a{
    color: white;
    background-color: black;

    border-radius: 10px;
    border: 1px solid black;
}


.hero .container .flex a img{
    border-radius: 20px;
    min-width: 50%;
    max-width: 100%;

    min-height: 400px;
    max-height: 600px;

    object-fit: cover;
}

.hero .container .flex .text{
    position: absolute;
    padding: 30px;
}

.hero .container .flex .text h2{
    color: black;
    font-weight: 600;
    font-size: 1.5em;
}.hero .container .flex .text p{
    font-size: 1.4em;
}

.hero .container .flex .text .link{
    padding: 10px;

}

.hero .container .flex .text .link .pelajari{
    font-size: 12px;
    color: white;
    background-color: black;
    border-radius: 5px;

    padding: 7px;
    margin: 20px;

    transition: all ease-in 90ms;
}.hero .container .flex .text .link .pelajari:hover{
    opacity: 0.7;

    transition: all ease-in-out 520ms;
}

.hero .container .flex .text .link .buy{
    color: black;
    background-color: white;

    padding: 3px;
    border: 1px solid black;
    border-radius: 4px;
}
/* Hero END */